@import './variables';

@font-face {
  font-family: "SourceSansPro-Regular";
  src: url("fonts/SourceSansPro-Regular.otf.woff2") format("woff2"),
  url('fonts/SourceSansPro-Regular.ttf') format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "SourceSansPro-Bold";
  src: url("fonts/SourceSansPro-Bold.otf.woff2") format("woff2"),
  url('fonts/SourceSansPro-Bold.ttf') format("truetype");
  font-weight: 700;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "SourceSansPro-Regular";
  margin: 0 auto;
  padding: 0 15px;
  cursor: default;
  user-select: none;
  max-width: $max-page-width;
  min-width: $min-page-width;

  a {
    text-decoration: none;
  }

  .hidden {
    display: none !important;
  }

  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
  }
}

