$black: #000000;
$white: #fff;
$white-font: #fefefe;
$alarm: red;
$primary: #ef6c00;
$primary-hover: #fc831f;
$secondary: #283593;
$secondary-hover: #2638bb;
$grey: #8d8c8c;
$grey-light: #e1e1e1;

$max-page-width: 1170px;
$desktop-width: 980px;
$tablet-width: 768px;
$mobile-width: 480px;
$min-page-width: 320px;

