$black: #000000;
$white: #ffffff;
$mint: #96dece;
$mint-lighter: #63d1bb;
$mint-darker: #56c3b2;
$color-text: #444444;
$light-grey: #f1f1f1;
$grey-border: #ececec;
$promo-grey: #f9f9f9;
$tablet-width: 630px;

$max-page-width: 1200px;
