$black: #000000;
$white: #ffffff;
$alarm: red;
$mint: #96dece;
$mint-lighter: #63d1bb;
$mint-darker: #56c3b2;
$color-text: #444444;
$light-grey: #f1f1f1;
$grey-border: #ececec;
$promo-grey: #f9f9f9;

$max-page-width: 1170px;
$min-page-width: 320px;
$tablet-width: 720px;
$mobile-width: 480px;


