@import '../../sass/variables';

fieldset.user-phone {
  position: relative;

  input {
    color: black;
  }

  input:not(:focus) {
    color: #575757;
  }

  input.hide-cursor {
    color: transparent;
    text-shadow: 0 0 0 black;

    &:focus {
      outline: none;
    }
  }

  input.filled:not(:focus) {
    color: black;
    text-shadow: none;
  }
}

