@import '../../sass/variables';

.user {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 33%;
  margin: 0 auto;
  overflow: hidden;
  box-sizing: border-box;

  & > div {
    box-sizing: border-box;
  }

  .avatar {
    width: 70px;
    height: 70px;
    background-size: cover;
    border-radius: 50%;

    img {
      border-radius: 50%;
    }
  }

  .data {
    width: 70%;
  }

  h5 {
    margin: 15px 0 10px 0;
  }

  p {
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: calc(10px + 0.3vw);
    text-align: left;
    color: $black;
    line-height: calc(10px + 0.3vw);
    margin: 5px 0;
  }
}

@media (max-width: $tablet-width) {
  .user {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .data {
      align-items: center;
      display: flex;
      flex-direction: column;
    }

    h5, p {
      text-align: center;
    }
  }
}

@media (max-width: $mobile-width) {
  .user {
    width: 100%;
  }
}