.page-header {
  background-color: $white;
  position: fixed;
  font-size: 16px;
  color: $black;
  height: 64px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  user-select: none;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: $max-page-width;
    margin: 0 auto;
    padding: 12px 15px 0 15px;

    .header-logo {
      padding-right: 15px;
      padding-top: 3px;
    }

    .menu-mobile {
      display: none;
      position: absolute;
      right: 10px;
    }

    .logo {
      align-self: center;
    }

    .visually-hidden {
      display: flex;
    }

    ul {
      width: 100%;
      list-style: none;
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 0;
      padding: 0;
      z-index: 10;

      li {
        padding: 0 14.5px;
        white-space: nowrap;
        flex-grow: 0;
        box-sizing: border-box;

        &:first-child {
          margin-left: auto;
        }

        &.user-header {
          display: flex;
          justify-content: space-between;
          padding-right: 16px;
          margin-left: auto;
          margin-right: 0;
          text-align: right;

          .user-info {
            margin-right: 11px;
            padding-top: 1px;
          }
          .user-info div {
            text-align: right;
          }

          > div:last-child {
            display: flex;
            align-items: center;
          }

          #user-name-header {
            font-size: 14px;
            padding-top: 1px;
          }

          #user-email-header {
            font-size: 12px;
            padding-right: 2px;
            color: $grey;
          }

          img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
          }
        }

        &.header-sign-out {
          padding: 0;
          padding-top: 2px;

          svg {
            fill: $secondary;
            display: block;
          }

          &:hover svg {
            fill: $secondary-hover;
          }

          a {
            display: none;
          }
        }

        > a {
          padding-top: 1px;
          color: $black;
        }
      }
    }

    #menu-mobile + label {
      display: none;
    }
  }
  @media (max-width: 1344px) {
    nav {
      padding: 0 calc(47px - (100% - 1024px) / 10);
      padding-top: 12px;
    }
  }

  @media (max-width: $max-page-width - 100px) {
    nav ul li:not([class]) {
      position: relative;
      top: -2px;
      left: -3px;
    }
  }

  @media (max-width: 1024px) {        // down to 768px
    nav {
      padding: 0 calc(47px - (1024px - 100%) / 11.13);
      padding-top: 12px;
    }
  }

  @media (max-width: 940px) {
    nav {
      ul {
        li {
          padding: 0;
          margin: 0 auto;
        }

        li.user-header {
          padding: 0;
        }

        li:not([class]) {
          padding: 0;
          margin: 0 auto;
        }
      }
    }
  }

  @media (max-width: $tablet-width) {
    nav {
      padding: 0 calc(24px - (768px - 100%) / 49.7778);    // down to 320px
      padding-top: 12px;

      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      .header-logo {
        padding-left: calc(0px + (768px - 100vw) / 224);    // down to 320px  ---- probably bug in .pds ------ +2px right top in mobile version

        svg {
          height: 34px;
        }
      }

      .menu-mobile {
        display: block;
      }

      ul {
        display: flex;
        position: fixed;
        flex-direction: column;
        align-items: flex-start;
        width: calc(259px - (768px - 100vw) / 49.7778);    // down to 320px
        height: 100%;
        top: 0;
        left: -400px;
        background: $white;
        transition: left 0.7s ease 0s;
        padding-left: calc(24px - (768px - 100vw) / 49.7778);    // down to 320px

        li {
          font-size: 16px;

          &.user-header {
            order: -1;
            flex-direction: column;
            width: 100%;
            padding-top: 29px;
            margin-left: 0;
            margin-bottom: 20px;
            border-bottom: 1px solid $grey-light;
            padding-bottom: 23px;

            .user-info {
              display: flex;
              flex-direction: column;
              align-items: flex-start;

              #user-name-header {
                margin-bottom: 4px;
                font-size: 20px;
              }
              #user-email-header {
                font-size: 13px;
              }
            }

            .user-avatar {
              order: -1;
              margin-bottom: 12px;
            }

            img {
              width: 67px;
              height: 67px;
            }
          }

          &:not([class]),
          &.header-sign-out {
            position: initial;
            margin: 0;
          }

          &:not(.user-header) {
            padding: 11.5px 0;
          }

          &.header-sign-out {
            margin-top: 3px;

            a {
              display: block;
              padding: 0;
            }

            svg {
              display: none;
            }
          }
        }
      }

      #menu-mobile + label {
        display: block;
        height: 22px;

        svg {
          fill: $secondary;
        }

        &:hover svg {
          fill: $secondary-hover;
        }
      }
    }
  }
}