.page-header {
  background-color: $white;
  position: fixed;
  font-size: 16px;
  color: $black;
  height: 64px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: $max-page-width;
    margin: 0 auto;
    padding: 0 15px;
    padding-top: 12px;

    .header-logo {
      padding-right: 15px;
      padding-top: 3px;
    }

    .menu-mobile {
      display: none;
      position: absolute;
      right: 10px;
    }

    .logo {
      align-self: center;
    }

    .visually-hidden {
      display: flex;
    }

    ul {
      width: 100%;
      list-style: none;
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 0;
      padding: 0;
      z-index: 10;

      li {
        padding: 0 14.5px;
        white-space: nowrap;
        flex-grow: 0;

        > a {
          padding-top: 1px;
          color: $black;
        }
      }

      li.header-sign-out {
        padding-top: 2px;
      }

      li:first-child {
        margin-left: auto;
      }

      .user-header {
        display: flex;
        justify-content: space-between;
        padding-right: 16px;
        margin-left: auto;
        margin-right: 0;
        text-align: right;

        .user-info {
          margin-right: 11px;
          padding-top: 1px;
        }
        .user-info div {
          text-align: right;
        }

        > div:last-child {
          display: flex;
          align-items: center;
        }

        #user-name-header {
          font-size: 14px;
          padding-top: 1px;
        }

        #user-email-header {
          font-size: 12px;
          padding-right: 2px;
          color: #8d8c8c;
        }

        img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
        }
      }

      .header-sign-out {
        padding: 0;

        button {
          display: none;
        }
        svg {
          display: block;
        }
      }
    }
  }
  @media (max-width: $max-page-width - 100px) {
    nav ul li:not([class]) {
      position: relative;
      top: -2px;
      left: -3px;
    }
  }

  @media (max-width: $tablet-width) {
    nav {
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;

      .menu-mobile {
        display: block;
      }

      .logo {
        align-self: flex-start;
      }

      ul {
        display: flex;
        position: fixed;
        flex-direction: column;
        align-items: flex-start;
        width: 200px;
        max-width: 70vw;
        height: 100%;
        top: 0;
        left: -400px;
        background: $white;
        border: 1px solid hotpink;
        transition: left 0.7s ease 0s;

        li {
          padding: 5px 0;
        }

        li:first-child {
          margin-left: 0;
        }

        li:nth-last-child(2) {
          margin-left: 0;
          margin-bottom: 20px;
          order: -1;
        }

        .header-sign-out button {
          display: block;
        }
        .header-sign-out svg {
          display: none;
        }
      }
    }
  }
}