@import '../../sass/variables';

.upload-wrapper {
  width: 50%;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  position: relative;

  input[type="file"] {
    display: none;
  }

  .custom-file-upload {
    display: inline-block;
    margin-left: 20px;
    flex-grow: 1;
    border: 1px solid #ccc;
    padding: 6px 12px;
    cursor: pointer;
    font-size: 12px;
  }

  img {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 30px;
    left: 50px;
    opacity: 0;
  }

  input:hover + img {
    display: block;
    transition: 2s;
    opacity: 1;
  }
}

@media (max-width: $mobile-width) {
  .upload-wrapper {
    width: 100%;
    flex-wrap: nowrap;

    .custom-file-upload {
      margin-left: 0;
      box-sizing: border-box;
    }
    button {
      width: 20%;
      box-sizing: border-box;
    }
  }
}