@import '../../sass/variables';

.register-form {
  max-width: $max-page-width;
  margin: 0 auto;

  div {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
  }

  .register-sign-up {
    justify-content: center;
  }

  fieldset {
    margin: 0;
    width: 33%;
    box-sizing: border-box;
    min-width: 100px;
    border-radius: 4px;
    border: 1px solid grey;

    legend {
      font-size: 12px;
      padding: 0 10px;
    }

    input {
      width: 100%;
      padding: 0;
      border: none;
      outline: none;
    }

    &:nth-child(2) {
      margin: 0 20px;
    }
  }

  .alarm {
    border-color: $alarm !important;
    color: $alarm !important;
  }

  select {
    width: 50%;
  }
  .ready-sign-up {
    background: $primary;
  }

}

@media (max-width: $mobile-width) {
  .register-form {

    > div {
      flex-direction: column;
    }

    fieldset {
      width: 100%;

      &:nth-child(2) {
        margin: 0;
      }
    }

    select {
      width: 100%;
      padding-left: 8px;
    }
  }
}