@import '../../sass/variables';

.register-form {
  max-width: $max-page-width;
  margin: 0 auto;

  div {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
  }

  fieldset {
    margin: 0;
    width: 33%;
    box-sizing: border-box;
    min-width: 100px;

    legend {
      font-size: 12px;
      padding: 0 10px;
    }

    input {
      width: 100%;
      padding: 0;
      border: none;
      outline: none;
    }

    &:nth-child(2) {
      margin: 0 20px;
    }
  }

  select {
    width: 50%;
  }

  .upload-wrapper {
    width: 50%;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;

    input[type="file"] {
      display: none;
    }

    .custom-file-upload {
      display: inline-block;
      margin-left: 20px;
      flex-grow: 1;
      border: 1px solid #ccc;
      padding: 6px 12px;
      cursor: pointer;
      font-size: 12px;
    }
  }
}

@media (max-width: $mobile-width) {
  .register-form {

   > div {
      flex-direction: column;
    }

    fieldset {
      width: 100%;

      &:nth-child(2) {
        margin: 0;
      }
    }

    select {
      width: 100%;
      padding-left: 8px;
    }

    .upload-wrapper {
      width: 100%;
      flex-wrap: nowrap;

      .custom-file-upload {
        margin-left: 0;
        box-sizing: border-box;
      }
      button {
        width: 20%;
        box-sizing: border-box;
      }
    }
  }
}