@font-face {
  font-family: "SourceSansPro-Regular";
  src: url("fonts/SourceSansPro-Regular.otf.woff2") format("woff2"), url("fonts/SourceSansPro-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "SourceSansPro-Bold";
  src: url("fonts/SourceSansPro-Bold.otf.woff2") format("woff2"), url("fonts/SourceSansPro-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Overpass-semibold";
  src: url("./fonts/overpass-semibold.woff2") format("woff2"), url("fonts/overpass-semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
* {
  box-sizing: border-box;
}

body {
  font-family: "SourceSansPro-Regular";
  margin: 0 auto;
  padding: 0 15px;
  cursor: default;
  max-width: 1170px;
  min-width: 320px;
}
body h1, body h2, body h3, body h4, body h5 {
  font-family: Overpass-semibold;
}
body a {
  text-decoration: none;
}
body .hidden {
  display: none !important;
}
body .visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
body .button {
  text-decoration: none;
  border-radius: 3px;
  transition: 0.3s;
  border: none;
}
body .button-primary {
  background: #ef6c00;
}
body .button-primary:hover {
  background: #fc831f;
}
body .button-primary span {
  font-family: SourceSansPro-Bold;
  font-weight: 700;
  font-size: 20px;
  display: inline-block;
  margin-bottom: 2px;
}

@media (max-width: 1344px) {
  body {
    padding: 0 calc(47px - (100% - 1024px) / 10);
  }
}
@media (max-width: 1024px) {
  body {
    padding: 0 calc(47px - (1024px - 100%) / 11.13);
  }
}
@media (max-width: 768px) {
  body {
    padding: 0 calc(24px - (768px - 100%) / 49.7778);
  }
}
.page-header {
  background-color: #fff;
  position: fixed;
  font-size: 16px;
  color: #000000;
  height: 64px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  user-select: none;
}
.page-header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1170px;
  margin: 0 auto;
  padding: 12px 15px 0 15px;
}
.page-header nav .header-logo {
  padding-right: 15px;
  padding-top: 3px;
}
.page-header nav .menu-mobile {
  display: none;
  position: absolute;
  right: 10px;
}
.page-header nav .logo {
  align-self: center;
}
.page-header nav .visually-hidden {
  display: flex;
}
.page-header nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding: 0;
  z-index: 10;
}
.page-header nav ul li {
  padding: 0 14.5px;
  white-space: nowrap;
  flex-grow: 0;
  box-sizing: border-box;
}
.page-header nav ul li:first-child {
  margin-left: auto;
}
.page-header nav ul li.user-header {
  display: flex;
  justify-content: space-between;
  padding-right: 15px;
  margin-left: auto;
  margin-right: 0;
  text-align: right;
}
.page-header nav ul li.user-header .user-info {
  margin-right: 11px;
  padding-top: 1px;
}
.page-header nav ul li.user-header .user-info div {
  text-align: right;
}
.page-header nav ul li.user-header > div:last-child {
  display: flex;
  align-items: center;
}
.page-header nav ul li.user-header #user-name-header {
  font-size: 14px;
  padding-top: 1px;
}
.page-header nav ul li.user-header #user-email-header {
  font-size: 12px;
  padding-right: 2px;
  color: #8d8c8c;
}
.page-header nav ul li.user-header img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.page-header nav ul li.header-sign-out {
  padding: 0;
  padding-top: 2px;
}
.page-header nav ul li.header-sign-out svg {
  fill: #283593;
  display: block;
}
.page-header nav ul li.header-sign-out:hover svg {
  fill: #2638bb;
}
.page-header nav ul li.header-sign-out a {
  display: none;
}
.page-header nav ul li > a {
  padding-top: 1px;
  color: #000000;
}
.page-header nav #menu-mobile + label {
  display: none;
}
@media (max-width: 1344px) {
  .page-header nav {
    padding: 0 calc(47px - (100% - 1024px) / 10);
    padding-top: 12px;
  }
}
@media (max-width: 1070px) {
  .page-header nav ul li:not([class]) {
    position: relative;
    top: -2px;
    left: -3px;
  }
}
@media (max-width: 1024px) {
  .page-header nav {
    padding: 0 calc(47px - (1024px - 100%) / 11.13);
    padding-top: 12px;
  }
}
@media (max-width: 940px) {
  .page-header nav ul li {
    padding: 0;
    margin: 0 auto;
  }
  .page-header nav ul li.user-header {
    padding: 0;
  }
  .page-header nav ul li:not([class]) {
    padding: 0;
    margin: 0 auto;
  }
}
@media (max-width: 785px) {
  .page-header nav {
    padding: 0 calc(24px - (768px - 100%) / 49.7778);
    padding-top: 12px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .page-header nav .header-logo {
    padding-left: calc(0px + (768px - 100vw) / 224);
  }
  .page-header nav .header-logo svg {
    height: 34px;
  }
  .page-header nav .menu-mobile {
    display: block;
  }
  .page-header nav ul {
    display: flex;
    position: fixed;
    flex-direction: column;
    align-items: flex-start;
    width: calc(259px - (768px - 100vw) / 49.7778);
    height: 100%;
    top: 0;
    left: -400px;
    background: #fff;
    transition: left 0.7s ease 0s;
    padding-left: calc(24px - (768px - 100vw) / 49.7778);
  }
  .page-header nav ul li {
    font-size: 16px;
  }
  .page-header nav ul li.user-header {
    order: -1;
    flex-direction: column;
    width: 100%;
    padding-top: 29px;
    margin-left: 0;
    margin-bottom: 19px;
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 23px;
  }
  .page-header nav ul li.user-header .user-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .page-header nav ul li.user-header .user-info #user-name-header {
    margin-bottom: 4px;
    font-size: 20px;
  }
  .page-header nav ul li.user-header .user-info #user-email-header {
    font-size: 13px;
  }
  .page-header nav ul li.user-header .user-avatar {
    order: -1;
    margin-bottom: 12px;
  }
  .page-header nav ul li.user-header img {
    width: 67px;
    height: 67px;
  }
  .page-header nav ul li:not([class]), .page-header nav ul li.header-sign-out {
    position: initial;
    margin: 0;
  }
  .page-header nav ul li:nth-child(2), .page-header nav ul li:nth-child(3), .page-header nav ul li:nth-child(4) {
    position: relative;
    left: -1px;
    top: 0;
  }
  .page-header nav ul li:not(.user-header) {
    padding: 11.6px 0;
  }
  .page-header nav ul li.header-sign-out {
    margin-top: 3px;
  }
  .page-header nav ul li.header-sign-out a {
    display: block;
    padding: 0;
  }
  .page-header nav ul li.header-sign-out svg {
    display: none;
  }
  .page-header nav #menu-mobile + label {
    display: block;
    height: 22px;
  }
  .page-header nav #menu-mobile + label svg {
    fill: #283593;
  }
  .page-header nav #menu-mobile + label:hover svg {
    fill: #2638bb;
  }
}
@media (max-width: 568px) {
  .page-header nav #menu-mobile + label {
    position: relative;
    top: -1px;
  }
}

.test-assignment-intro {
  height: 677px;
  margin-top: 64px;
  z-index: 10;
}
.test-assignment-intro .background-wrapper {
  height: inherit;
  position: absolute;
  left: 0;
  right: 0;
  max-width: 2560px;
  margin: 0 auto;
  background-image: url("img/imgs/bg-1-2735.jpg");
  background: -webkit-image-set(url("img/imgs/bg-1-2735.jpg") 1x, url("img/imgs/bg-1-5470.jpg") 2x);
  background-position: left 0 top -316px;
  background-size: 2560px auto;
  z-index: -10;
}
.test-assignment-intro .content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  color: #fff;
  padding-top: 86px;
  width: 550px;
}
.test-assignment-intro .content-wrapper h1 {
  font-size: 50.1px;
  line-height: 60px;
  margin-bottom: 4px;
  margin-left: -2px;
}
.test-assignment-intro .content-wrapper h1 span {
  letter-spacing: -3.5px;
}
.test-assignment-intro .content-wrapper p {
  font-size: 20px;
  line-height: 26px;
  margin-left: 1px;
  margin-bottom: 33px;
}
.test-assignment-intro .content-wrapper .button-primary {
  width: 290px;
  height: 40px;
}
.test-assignment-intro .content-wrapper .button-primary span {
  color: #fefefe;
  margin-left: 1px;
}

@media (max-width: 2560px) {
  .test-assignment-intro {
    height: calc(677px + (2560px - 100vw) / 31.5);
  }
  .test-assignment-intro .background-wrapper {
    background-position: left 0 top calc(-316px + (2560px - 100vw) / 4.8);
    background-size: calc(2560px - (2560px - 100vw) / 1.231) auto;
  }
  .test-assignment-intro .content-wrapper {
    width: calc(550px - (2560px - 100vw) / 15.36);
  }
}
@media (max-width: 1170px) {
  .test-assignment-intro .content-wrapper p {
    margin-bottom: 40px;
  }
  .test-assignment-intro .mobile-show br,
.test-assignment-intro .between-mob-desktop {
    display: none;
  }
}
@media (max-width: 1024px) {
  .test-assignment-intro {
    height: calc(725px - (1024px - 100vw) / 2.33);
  }
  .test-assignment-intro .background-wrapper {
    background-image: url("img/imgs/bg-1-1024.jpg");
    background: -webkit-image-set(url("img/imgs/bg-1-1024.jpg") 1x, url("img/imgs/bg-1-2048.jpg") 2x);
    background-position: left 0 top 0;
    background-size: calc(1024px - (1024px - 100vw) / 0.94) auto;
  }
  .test-assignment-intro .content-wrapper {
    width: calc(450px - (1024px - 100vw) / 5.12);
    font-size: calc(50.1px - (1024px - 100vw) / 29.5);
    padding-top: calc(86px - (1024px - 100vw) / 21.333);
  }
  .test-assignment-intro .content-wrapper h1 {
    font-size: 1em;
    line-height: 1.21em;
    margin-left: -1px;
    margin-bottom: calc(4px + (1024px - 100vw) / 120);
  }
  .test-assignment-intro .content-wrapper p {
    font-size: 0.428em;
    line-height: 1.34em;
    margin-bottom: calc(40px - (1024px - 100vw) / 35);
  }
}
@media (max-width: 768px) {
  .test-assignment-intro {
    height: calc(615px - (768px - 100vw) / 1.94);
  }
  .test-assignment-intro .background-wrapper {
    background-position: left calc(0px - (768px - 100vw) / 3.38) top calc(0px - (768px - 100vw) / 49.73);
    background-size: calc(730px - (730px - 100vw) / 1.82) auto;
  }
  .test-assignment-intro .content-wrapper {
    padding-top: calc(74.797px - (768px - 100vw) / 11.7);
  }
  .test-assignment-intro .content-wrapper h1 {
    font-size: calc(1em + (768px - 100vw) / 132);
    line-height: calc(1.21em - (768px - 100vw) / 300);
    margin-bottom: calc(5.992px - (1024px - 100vw) / 80);
  }
  .test-assignment-intro .content-wrapper p {
    font-size: calc(0.428em + (768px - 100vw) / 96);
    line-height: calc(1.34em + (768px - 100vw) / 600);
    margin-bottom: calc(33.143px + (1024px - 100vw) / 170);
  }
}
@media (max-width: 480px) {
  .test-assignment-intro .background-wrapper {
    background-image: url("img/imgs/bg-1-480.jpg");
    background: -webkit-image-set(url("img/imgs/bg-1-480.jpg") 1x, url("img/imgs/bg-1-960.jpg") 2x);
    background-position: left calc(-6px - (480px - 100vw) / 2.8) top calc(0px - (480px - 100vw) / 49.73);
    background-size: calc(468px - (468px - 100vw) / 2.25) auto;
  }
  .test-assignment-intro .content-wrapper {
    width: 100%;
    text-align: center;
    align-items: center;
  }
  .test-assignment-intro .content-wrapper h1 {
    margin-left: 0;
  }
  .test-assignment-intro .content-wrapper p {
    margin-left: -1px;
  }
  .test-assignment-intro .content-wrapper p .mobile-hide {
    display: none;
  }
}
.get-acquaint {
  margin-top: 124px;
}
.get-acquaint h3 {
  text-align: center;
  font-size: 42px;
  margin-bottom: 0;
}
.get-acquaint .content-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 350px;
}
.get-acquaint .content-wrapper .man-mobile-img {
  background-image: url("img/imgs/man-mobile.svg");
  background-position: left 1px top 1px;
  background-size: 200px;
  background-repeat: no-repeat;
  flex-grow: 1;
}
.get-acquaint .content-wrapper .text-acquaint {
  width: 65.75%;
}
.get-acquaint .content-wrapper .text-acquaint h5 {
  margin-top: 33px;
  font-size: 26px;
}

/*# sourceMappingURL=index.css.map */
